<app-navbar></app-navbar>
<app-sidemenu></app-sidemenu>
<app-footer></app-footer>
<div class="wraper">
  <div class="content-wrapper">
    <div class="content-header">
      <div class="container">
        <div class="row">
          <div class="card">
            <div class="img">
              <img src="assets/videojuego1.jpg" alt="Bundle PS4">
            </div>
            <div class="top-text">
              <div class="name">Bundle PS4 VR 5 Game Mega Pack PLAYSTATION 4"</div>
            </div>
            <div class="bottom-text">
              <div class="text">$ 1.999.900</div>
              <div class="btn">
                <a href="">Agregar al carrito</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="img">
              <img src="assets/videojuego2.jpg" alt="Consola PS4 Combo">
            </div>
            <div class="top-text">
              <div class="name">Consola PS4 1 TB + 1 Control + 3 Juegos</div>
            </div>
            <div class="bottom-text">
              <div class="text">$ 1.649.900</div>
              <div class="btn">
                <a href="">Agregar al carrito</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="img">
              <img src="assets/videojuego3.jpg" alt="Control DualShock 4 Verde Camuflado">
            </div>
            <div class="top-text">
              <div class="name">Control DualShock 4 Verde Camuflado PLAYSTATION 4</div>
            </div>
            <div class="bottom-text">
              <div class="text">$ 339.900</div>
              <div class="btn">
                <a href="">Agregar al carrito</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="img">
              <img src="assets/videojuego4.jpg" alt="Consola PS4">
            </div>
            <div class="top-text">
              <div class="name">Consola PS4 1 Tera + 2 Controles + Juego FIFA 20"</div>
            </div>
            <div class="bottom-text">
              <div class="text">$ 1.999.000</div>
              <div class="btn">
                <a href="">Agregar al carrito</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="img">
              <img src="assets/videojuego5.jpg" alt="Juego PS4">
            </div>
            <div class="top-text">
              <div class="name">Juego PLAYSTATION 4 The Last of Us 2 PART II </div>
            </div>
            <div class="bottom-text">
              <div class="text">$ 329.000</div>
              <div class="btn">
                <a href="">Agregar al carrito</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="img" style="width: 350px;">
              <img src="assets/videojuego6.jpg" alt="Cargador de Control">
            </div>
            <div class="top-text" >
              <div class="name">Cargador de Control PLAYSTATION PS5 Blanco</div>
            </div>
            <div class="bottom-text">
              <div class="text">$ 139.900</div>
              <div class="btn">
                <a href="">Agregar al carrito</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="img">
              <img src="assets/videojuego7.jpg" alt="Control PS4 DS4">
            </div>
            <div class="top-text">
              <div class="name">Control PLAYSTATION DS4 ROSADO / DORADO</div>
            </div>
            <div class="bottom-text">
              <div class="text">$ 399.900</div>
              <div class="btn">
                <a href="">Agregar al carrito</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

