<app-navbar></app-navbar>
<app-sidemenu></app-sidemenu>
<div class="wraper">
  <div class="content-wrapper">
    <div class="content-header">
      <div class="content">
        <h1 class="logo">Contact <span>Us</span></h1>
        <div class="contact-wrapper">
          <div class="contact-form">
            <h3>Contáctanos</h3>
            <form action="">
              <p>
                <label>Nombre</label>
                <input type="text" name="Nombre">
              </p>
              <p>
                <label>Email</label>
                <input type="email" name="email">
              </p>
              <p>
                <label>Teléfono</label>
                <input type="tel" name="phone">
              </p>
              <p>
                <label>Asunto</label>
                <input type="text" name=asunto>
              </p>
              <p class="block">
                <label> Mensaje</label>
                <textarea name="message" rows="3"></textarea>
              </p>
              <p class="block">
                <button type="submit">Enviar</button>
              </p>
            </form>
          </div>
          <div class="contact-info">
            <h4>Más Información</h4>
            <ul>
              <li><i class="fas fa-map-marker-alt"></i> Centro Comercial La Unión</li>
              <li><i class="fas fa-phone"></i> 312 843 8594</li>
              <li><i class="fas fa-envelope-open-text"></i> TechnologyMarket@gmail.com</li>
            </ul>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore hic incidunt, exercitationem rerum esse
              dolore quod cum molestias voluptatibus corrupti.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>

  