<app-navbar></app-navbar>
<app-sidemenu></app-sidemenu>
<div class="wraper">
  <div class="content-wrapper">
    <div class="content-header">
      <div class="container">
        <div class="row">
          <div class="card">
            <div class="img">
              <img src="assets/tv1.jpg" alt="Televisor SAMSUNG">
            </div>
            <div class="top-text">
              <div class="name">TV SAMSUNG 70" Pulgadas 177 cm LED 4K</div>
            </div>
            <div class="bottom-text">
              <div class="text">$ 1.990.000</div>
              <div class="btn">
                <a href="">Agregar al carrito</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="img">
              <img src="assets/tv2.jpg" alt="Televisor SAMSUNG Led">
            </div>
            <div class="top-text">
              <div class="name">COMBO TV SAMSUNG 55" Pulgadas 132 Cm</div>
            </div>
            <div class="bottom-text">
              <div class="text">$ 2.400.000</div>
              <div class="btn">
                <a href="">Agregar al carrito</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="img">
              <img src="assets/tv3.jpg" alt="Televisor LG Led">
            </div>
            <div class="top-text">
              <div class="name">TV LG 43" Pulgadas 108 Cm LED 4K-UHD Plano</div>
            </div>
            <div class="bottom-text">
              <div class="text">$ 1.399.900</div>
              <div class="btn">
                <a href="">Agregar al carrito</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="img">
              <img src="assets/tv4.jpg" alt="Televisor Samsung">
            </div>
            <div class="top-text">
              <div class="name">TV SAMSUNG 55" Pulgadas 132 Cm LED 4K</div>
            </div>
            <div class="bottom-text">
              <div class="text">$ 1.199.900</div>
              <div class="btn">
                <a href="">Agregar al carrito</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="img">
              <img src="assets/tv5.jpg" alt="Televisor LG 43 Pulgadas">
            </div>
            <div class="top-text">
              <div class="name">TV SAMSUNG 65" Pulgadas 166 Cm LED 4K</div>
            </div>
            <div class="bottom-text">
              <div class="text">$ 3.999.000</div>
              <div class="btn">
                <a href="">Agregar al carrito</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="img" style="width: 350px;">
              <img src="assets/tv6.jpg" alt="Televisor LG OLED">
            </div>
            <div class="top-text" >
              <div class="name">LG OLED 55" Pulgadas 132 Cm NUEVO 2020</div>
            </div>
            <div class="bottom-text">
              <div class="text">$ 2.599.900</div>
              <div class="btn">
                <a href="">Agregar al carrito</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="img">
              <img src="assets/tv7.jpg" alt="Televisor QLED SAMSUNG">
            </div>
            <div class="top-text">
              <div class="name">TV SAMSUNG 65" Pulgadas 156 Cm QLED 4K</div>
            </div>
            <div class="bottom-text">
              <div class="text">$ 2.899.900</div>
              <div class="btn">
                <a href="">Agregar al carrito</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
