<app-navbar></app-navbar>
<app-sidemenu></app-sidemenu>
<app-footer></app-footer>
<div class="wraper">
  <div class="content-wrapper">
    <div class="content-header">
      <div class="container">
        <div class="row">
          <div class="card">
            <div class="img">
              <img src="assets/sonido1.jpg" alt="Parlante MULTITECH">
            </div>
            <div class="top-text">
              <div class="name">Parlante MULTITECH AXBT-CDHF Bluetooth Negro</div>
            </div>
            <div class="bottom-text">
              <div class="text">$ 249.900</div>
              <div class="btn">
                <a href="">Agregar al carrito</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="img">
              <img src="assets/sonido2.jpg" alt="Parlante Kalley">
            </div>
            <div class="top-text">
              <div class="name">Parlante KALLEY AKT-DB Bluetooth Negro</div>
            </div>
            <div class="bottom-text">
              <div class="text">$ 229.900</div>
              <div class="btn">
                <a href="">Agregar al carrito</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="img">
              <img src="assets/sonido3.jpg" alt="Equipo Mini Panasonic">
            </div>
            <div class="top-text">
              <div class="name">Equipo Mini PANASONIC AKX320 Bluetooth Negro</div>
            </div>
            <div class="bottom-text">
              <div class="text">$ 499.900</div>
              <div class="btn">
                <a href="">Agregar al carrito</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="img">
              <img src="assets/sonido4.jpg" alt="Equipo Micro KALLEY">
            </div>
            <div class="top-text">
              <div class="name">Equipo Micro KALLEY K-EM40BT Bluetooth</div>
            </div>
            <div class="bottom-text">
              <div class="text">$ 229.900</div>
              <div class="btn">
                <a href="">Agregar al carrito</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="img">
              <img src="assets/sonido5.jpg" alt="Equipo Mini Panasonic">
            </div>
            <div class="top-text">
              <div class="name">Equipo Mini PANASONIC AKX110 Bluetooth Negro</div>
            </div>
            <div class="bottom-text">
              <div class="text">$ 389.900</div>
              <div class="btn">
                <a href="">Agregar al carrito</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="img" style="width: 350px;">
              <img src="assets/sonido6.jpg" alt="Equipo Mini Samsung">
            </div>
            <div class="top-text" >
              <div class="name">Equipo Mini Samsung MX-T70JFJ 1500W</div>
            </div>
            <div class="bottom-text">
              <div class="text">$ 1.199.900</div>
              <div class="btn">
                <a href="">Agregar al carrito</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="img">
              <img src="assets/sonido7.jpg" alt="Equipo Mini Sony">
            </div>
            <div class="top-text">
              <div class="name">Equipo Mini SONY MHC-V02 Bluetooth Negro</div>
            </div>
            <div class="bottom-text">
              <div class="text">$ 599.900</div>
              <div class="btn">
                <a href="">Agregar al carrito</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
