.wrapper input:focus{
    background-color: rgb(58, 84, 109);
    font: 200;
    color: white;
}

#buscar{
    position: relative;
    left: 150px;
    width: 400px;
}

#contacto{
    position: relative;
    left: 100px;
}


.wrapper #icon-menu{
    font-size: 30px;
}
.wrapper input{
    width: 200px;
    
}

nav{
    background-color: #092949;
}

.navbar-nav #Home{
    float: right;
    background-color: #504df5;
    position: relative;
    left: 10px;
}

.navbar-nav #contacto{
    background-color: #504df5;
    position: relative;
    left: 10px;
}








