.wrapper input:focus{
    background-color: #f7554a;   
    color: white;
    font: 200;
}


.wrapper #icon-menu{
    font-size: 30px;
}
.wrapper input{
    width: 200px;
    
}

nav{
    background-color: #F44336;
}

