<div class="wrapper">
  <aside class="main-sidebar elevation-4 sidebar-dark-orange">
    <a id="Logonav" href="index3.html" class="brand-link">
        <img src="assets/shopping.png" class="brand-image">
        <span class="brand-text font-weight-light">TechnologyMarket</span>
    </a>
    <div class="sidebar">
      <div id="userpanel" class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="assets/user7-128x128.jpg" class="img-circle elevation-3" alt="User Image" />
        </div>
        <div class="info">
          <a href="#" class="d-block">USUARIO</a>
        </div>
      </div>
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li id="menudespl" class="nav-item has-treeview menu">
            <a id="menudes" href="#" class="nav-link">
                <i class="fas fa-play-circle" style="font-size: 20px; color: white;"></i>
                <p style="color: white; padding-left: 5px; font-size: 15px;">
                    TECNOLOGIA Y VIDEO
                    <i class="right fas fa-angle-double-left"></i>
                </p>            
            </a>
            <ul id="items" class="nav nav-treeview">
              <li class="nav-item" >
                <a href="Televisores" class="nav-link" style="padding-left: 30px;">
                  <i class="fas fa-circle nav-icon" ></i>
                  <p>Televisores</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="./index2.html" class="nav-link" style="padding-left: 30px;">
                  <i class="fas fa-circle nav-icon"></i>
                  <p>Proyectores</p>
                </a>
              </li>
            </ul>
          </li> 
          <br>
          <li id="menudespl" class="nav-item has-treeview menu">
            <a id="menudes" href="#" class="nav-link">
                <span class="material-icons" >
                    speaker_group
                </span>
                <p style="color: white; padding-left: 5px; font-size: 15px;">
                    AUDIO
                    <i class="right fas fa-angle-double-left"></i>
                </p>            
            </a>
            <ul id="items" class="nav nav-treeview">
              <li class="nav-item" >
                <a href="./index.html" class="nav-link" style="padding-left: 30px;">
                  <i class="fas fa-circle nav-icon" ></i>
                  <p>Equipos de sonido</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="./index2.html" class="nav-link" style="padding-left: 30px;">
                  <i class="fas fa-circle nav-icon"></i>
                  <p>Audifonos</p>
                </a>
              </li>
            </ul>
          </li>   
          <br>
          <li id="menudespl" class="nav-item has-treeview menu">
            <a id="menudes" href="#" class="nav-link">
                <i class="fas fa-laptop" style="color: white; font-size: 20px;"></i>
                <p style="color: white; padding-left: 5px; font-size: 15px;">
                    INFORMÁTICA
                    <i class="right fas fa-angle-double-left"></i>
                </p>            
            </a>
            <ul id="items" class="nav nav-treeview">
              <li class="nav-item" >
                <a href="./index.html" class="nav-link" style="padding-left: 30px;">
                  <i class="fas fa-circle nav-icon" ></i>
                  <p>Portátiles</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="./index2.html" class="nav-link" style="padding-left: 30px;">
                  <i class="fas fa-circle nav-icon"></i>
                  <p>All in one</p>
                </a>
              </li>
            </ul>
          </li>  
          <br>
          <li id="menudespl" class="nav-item has-treeview menu">
            <a id="menudes" href="#" class="nav-link">
                <i class="fas fa-gamepad" style="color: white; font-size: 20px;"></i>
                <p style="color: white; padding-left: 5px; font-size: 15px;">
                    VIDEOJUEGOS
                    <i class="right fas fa-angle-double-left"></i>
                </p>            
            </a>
            <ul id="items" class="nav nav-treeview">
              <li class="nav-item" >
                <a href="./index.html" class="nav-link" style="padding-left: 30px;">
                  <i class="fas fa-circle nav-icon" ></i>
                  <p>Consolas</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="./index2.html" class="nav-link" style="padding-left: 30px;">
                  <i class="fas fa-circle nav-icon"></i>
                  <p>Videojuegos</p>
                </a>
              </li>
            </ul>
          </li>  
          <br>
          <li id="menudespl" class="nav-item has-treeview menu">
            <a id="menudes" href="#" class="nav-link">
                <i class="fas fa-vr-cardboard" style="color: white; font-size: 20px;"></i>
                <p style="color: white; padding-left: 5px; font-size: 15px;">
                    ENTRETENIMIENTO
                    <i class="right fas fa-angle-double-left"></i>
                </p>            
            </a>
            <ul id="items" class="nav nav-treeview">
              <li class="nav-item" >
                <a href="./index.html" class="nav-link" style="padding-left: 30px;">
                  <i class="fas fa-circle nav-icon" ></i>
                  <p>Realidad Virtual</p>
                </a>
              </li>

            </ul>
          </li>
         </ul> 
        </nav>
    </div>
</aside>
  <aside class="control-sidebar control-sidebar-dark">
  </aside>
</div>
