.wrapper #titulo1{
    width: 200px;
    height: 30px;
}


#menudes{
    display: flex;
}


#Logo {
    height: 58px; 
    display: flex;
}

#Logo span{
    font-size: 30px; 
    padding-left: 10px; 
    text-align: center;

}

#items i{
    font-size: 15px;
    color: #5d7388;
}

#items p{
    color: #ffffff;
}
aside {
    background-color: #022446;
}

#menudes span{
    font-size: 23px;
    color: white;
}


#menudes {
    background-color: #F44336;
    border-radius: 0px;
}

#menudespl #menudes{

    background-color:rgb(58, 84, 109);
}

#Logonav{
    background-color: #504df5;
}





