<app-navbar></app-navbar>
<app-sidemenu></app-sidemenu>
<app-footer></app-footer>
<div class="wraper">
  <div class="content-wrapper">
    <div class="content-header">
      <div class="container">
        <div class="row">
          <div class="card">
            <div class="img">
              <img src="assets/portatil.png" alt="Portátil HP Envy">
            </div>
            <div class="top-text">
              <div class="name">Portátil HP Envy 13-aq1001la Intel Core i5 13"</div>
            </div>
            <div class="bottom-text">
              <div class="text">$ 3.399.000</div>
              <div class="btn">
                <a href="">Agregar al carrito</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="img">
              <img src="assets/portatil2.jpg" alt="Portátil ASUS 14 Pulgadas">
            </div>
            <div class="top-text">
              <div class="name">Portátil ASUS 14" Pulgadas M409DA-BV384T</div>
            </div>
            <div class="bottom-text">
              <div class="text">$ 1.729.900</div>
              <div class="btn">
                <a href="">Agregar al carrito</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="img">
              <img src="assets/portatil3.jpg" alt="Portátil ASUS VivoBook">
            </div>
            <div class="top-text">
              <div class="name">Portátil ASUS VivoBook X413FA Intel Core i5</div>
            </div>
            <div class="bottom-text">
              <div class="text">$ 2.799.000</div>
              <div class="btn">
                <a href="">Agregar al carrito</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="img">
              <img src="assets/portatil4.jpg" alt="Portátil ASUS Intel Core i7">
            </div>
            <div class="top-text">
              <div class="name">Portátil ASUS X509JA Intel Core i7 15.6"</div>
            </div>
            <div class="bottom-text">
              <div class="text">$ 2.949.00</div>
              <div class="btn">
                <a href="">Agregar al carrito</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="img">
              <img src="assets/portatil5.jpg" alt="Portátil ASUS Zeenbook 14 Pul">
            </div>
            <div class="top-text">
              <div class="name">Portátil ASUS Zeenbook 14" AMD Ryzen 5</div>
            </div>
            <div class="bottom-text">
              <div class="text">$ 3.199.000</div>
              <div class="btn">
                <a href="">Agregar al carrito</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="img" style="width: 350px;">
              <img src="assets/portatil6.jpg" alt="MacBook Air 13.3 Pulg">
            </div>
            <div class="top-text" >
              <div class="name">MacBook Air 13.3" Core i5 RAM 8 GB Disco Sólido</div>
            </div>
            <div class="bottom-text">
              <div class="text">$ 6.199.000</div>
              <div class="btn">
                <a href="">Agregar al carrito</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="img">
              <img src="assets/portatil7.jpg" alt="Portátil HP ">
            </div>
            <div class="top-text">
              <div class="name">Portátil HP 15.6" AMD R7 Disco Duro 1T</div>
            </div>
            <div class="bottom-text">
              <div class="text">$ 3.399.000</div>
              <div class="btn">
                <a href="">Agregar al carrito</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
