<app-navbar></app-navbar>
<app-sidemenu></app-sidemenu>
<div class="wraper">
  <div class="content-wrapper">
    <div class="content-header">
      <div class="container">
        <div class="row">
          <div class="card">
            <div class="img">
              <img src="assets/realidadvirtual1.jpg" alt="Gafas">
            </div>
            <div class="top-text">
              <div class="name">Gafas de Realidad Virtual Oculus Quest 64 GB</div>
            </div>
            <div class="bottom-text">
              <div class="text">$ 1.000.000</div>
              <div class="btn">
                <a href="">Agregar al carrito</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="img">
              <img src="assets/realidadvirtual1.jpg" alt="Gafas Realidad Virtual">
            </div>
            <div class="top-text">
              <div class="name">Gafas Realidad Virtual 128 GB Oculus Quest</div>
            </div>
            <div class="bottom-text">
              <div class="text">$ 1.600.000</div>
              <div class="btn">
                <a href="">Agregar al carrito</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="img">
              <img src="assets/realidadvirtual2.jpg" alt="Visor de Realidad Virtual PC">
            </div>
            <div class="top-text">
              <div class="name">vISOR de Realidad Virtual para PC Oculus Rift S</div>
            </div>
            <div class="bottom-text">
              <div class="text">$ 1.200.000</div>
              <div class="btn">
                <a href="">Agregar al carrito</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="img">
              <img src="assets/realidadvirtual3.jpg" alt="Gafas HTC">
            </div>
            <div class="top-text">
              <div class="name">Gafas HTC VIVE Focus 32 GB Realidad Aumentada</div>
            </div>
            <div class="bottom-text">
              <div class="text">$ 950.000</div>
              <div class="btn">
                <a href="">Agregar al carrito</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="img">
              <img src="assets/realidadvirtual4.jpg" alt="Gafas HTC VIVE">
            </div>
            <div class="top-text">
              <div class="name">Gafas HTC VIVE FOCUS PLUS 32 GB Realidad Virtual</div>
            </div>
            <div class="bottom-text">
              <div class="text">$ 1.700.000</div>
              <div class="btn">
                <a href="">Agregar al carrito</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="img" style="width: 350px;">
              <img src="assets/realidadvirtual5.jpg" alt="HTC Vive PRO">
            </div>
            <div class="top-text" >
              <div class="name">HTC Vive PRO Gafas de Realidad Virtual</div>
            </div>
            <div class="bottom-text">
              <div class="text">$ 2.200.000</div>
              <div class="btn">
                <a href="">Agregar al carrito</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="img">
              <img src="assets/realidadvirtual6.jpg" alt="HTC VIVE Pro">
            </div>
            <div class="top-text">
              <div class="name">Gafas HTC VIVE PRO Starter Kit Realidad Virtual</div>
            </div>
            <div class="bottom-text">
              <div class="text">$ 6.200.000</div>
              <div class="btn">
                <a href="">Agregar al carrito</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
